.navbar {margin-left: 90px; margin-right: 100px;}
.nav-link {color: white; font-weight: bold;}
body {background-color: lightpink; color:whitesmoke}
.jumbotron {font-family: 'Zhi Mang Xing'; color: whitesmoke;
    background-image: url(WeddingBells.jpg); background-size: cover; margin: auto} 
.display-4 {font-size: 100px; text-align: left; text-shadow:  1px 1px 1px black}  
.first img {height:500px; width: 350px; ;}
.Second img {display:block; margin: auto; height: 500px; width: 350px}
.Third img {display: block; margin: auto; height: 500px; width: 350px}
h3 {font-size: 150px; text-align: center}
h1 {font-size: 75px; text-align: center}
h2 {font-size: 100px; text-align: center}
h4 {font-size: 20px; text-align: center}
.btn {background-color:black; border-color: black; color: white}
.fas {color: white;}
.button {color:pink; }