.navbar {margin-left: 90px; margin-right: 100px;}
.nav-link {color: white; font-weight: bold;}
body {background-color: lightpink; color:whitesmoke}
.jumbotron {font-family: 'Zhi Mang Xing'; color: whitesmoke;
    background-image: url(WeddingBells.jpg); background-size: cover;margin-left: 100px; margin-right: 110px}   
.first img {height:500px; width: 350px; ;}
h3 {font-size: 150px; text-align:center}
h4 {font-size: 20px; text-align: center}
.hiking img {height:100px; width: 150px; margin: auto; background-color: whitesmoke;}